{
	"rules": {
		"no-undef": [2],
		"no-multi-spaces": [2],
		"indent": [2, "tab"],
		"quotes": [2, "single"],
		"linebreak-style": [2, windows],
		"semi": [2, "always"],
		"brace-style": [ 2, "stroustrup", { "allowSingleLine": true }],
		"strict": [2,"function"],
		"no-var": [2],
		"camelcase": [2, { "properties": "never" }],
		"consistent-return": [2],
		"curly": [2],
		"default-case": [2],
		"dot-notation": [1],
		"dot-location": [1, "property"],
		"eqeqeq": [2],
		"no-else-return": [1],
		"no-eq-null": [2],
		"no-fallthrough": [2],
		"no-floating-decimal": [1],
		"no-loop-func": [1],
		"no-return-assign": [1, "always"],
		"no-with": [2],
		"block-spacing": [1, "always"],
		"comma-spacing": [2, {"before": false, "after": true}],
		"eol-last": [2],
		"key-spacing": [2, { "beforeColon": false, "afterColon": true }],
		"new-cap": [2],
		"new-parens": [2],
		"no-array-constructor": [2],
		"no-inline-comments": [1],
		"no-lonely-if": [2],
		"no-mixed-spaces-and-tabs": [2],
		"no-multiple-empty-lines": [1, { "max": 1 }],
		"no-nested-ternary": [2],
		"no-trailing-spaces": [1, { "skipBlankLines": false }],
		"no-underscore-dangle": [1],
		"no-unneeded-ternary": [1],
		"object-curly-spacing": [2, "always", { "objectsInObjects": true }],
		"operator-linebreak": [1, "before", { "overrides": { "=": "after" } }],
		"padded-blocks": [1, "never"],
		"space-after-keywords": [1, "always"],
		"space-before-blocks": [1, "always"],
		"space-in-parens": [1, "never"],
		"space-infix-ops": [1],
		"space-return-throw-case": [1],
		"spaced-comment": [1, "always", { "exceptions": ["/"] }],
		"arrow-parens": [2, "always"],
		"arrow-spacing": [2, { "before": true, "after": true } ],
		"no-const-assign": [2],
		"object-shorthand": [1, "always"],
		"prefer-arrow-callback": [1],
		"prefer-const": [1],
		"prefer-template": [1]
		
	},
	"env": {
		"es6": true,
		"node": true,
		"mocha": true,
		"browser": true
	},
	"ecmaFeatures": {
		"modules": true,
	}
}
